@model NearbyPlaces.Dto.LocationDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find nearby locations in range 500m</h2>

<div>
    <input id="user-location" type="text" class="form-control" style="float:left" />
    <div style="width: 5px; height: auto; display: inline-block"></div>
    <button id="find-button" type="submit" class="btn btn-primary">Find</button>
</div>
<br />

<table id="locations-table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Coordinates</th>
        <th>Distance</th>
    </tr>
    </thead>

    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {

            $("#find-button").click(function() {

                var address = $("#user-location").val();
                var table = $("#locations-table");

                // Remove all data from table from previous fetch
                $("#locations-table tbody tr").remove();

                $.ajax({
                    url: "/api/location/",
                    type: "GET",
                    data: { locationName: address },
                    success: function(data) {
                        if (!$.trim(data)) {
                            alert("No data found!");
                        } else {
                            $.each(data,
                                function(index, val) {
                                    table.append('<tr>' +
                                        '<th>' +
                                        val.address +
                                        '</th>' +
                                        '<th>' +
                                        val.latitude +
                                        ', ' +
                                        val.longitude +
                                        '</th>' +
                                        '<th>' +
                                        val.distance +
                                        '</th>' +
                                        '</tr>');
                                });
                        }
                    }
                });

            });
        });
    </script>
}
